body {
   font-family:'Times New Roman', Times, serif;
    background: grey;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    display: flex;
    width: 900px;
    height: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    overflow: hidden;
    border: solid 5px;
    border-color:rgb(55, 0, 128);
  }
  
  .converter-box, .result-box {
    padding: 30px;
    width: 50%;
  }
  
  .converter-box {
    background:#ccc;
  }
  
  .converter-box h2 {
    margin-bottom: 20px;
    color:rgb(55, 0, 128);
    font-weight: 700;
  }

  .converter-box label {
    display: block;
    margin-top: 50px;
    color:rgb(55, 0, 128);
  }
  
  .converter-box input, .converter-box select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #8d8888;
  }
 
  .converter-box button {
    margin-top: 60px;
    padding: 8px 45px;
    background:rgb(55, 0, 128);
    color:#ccc;
    border: none;
    border-radius: 25px;
    cursor:pointer;
    margin-left: 120px;
    
  }
  .input-select-function{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    
  }
  #degree, #degreeunit {
    padding: 8px;
    font-size: 17px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
    color:#8d8888;
  }
  
  #degree {
    flex: 2;
    border-right: none;
    border-radius: 8px 0 0 8px;
  }
  
  #degreeunit {
    flex: 1;
    border-radius: 0 8px 8px 0;
    background-color: white;
    cursor: pointer;
  }
  .result-box {
    background:rgb(55, 0, 128);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
  .result-box h1 {
    font-size: 60px;
    margin: 0;
  }
  
  .result-box span {
    font-size: 25px;
    margin-left: 80px;
  }
